.App {
  text-align: center;
}

.App-logo img {
  margin-top: 3vh;
  height: 10vh;
}

.App-header {
  background-color: #222;
  height: 19vh;
  color: white;
}

.App-title {
  margin-top: 3vh;
}

.App-title h2 {
  margin-top: 3vh;
  font-size: 4vh;
}

.App-title h4 {
  font-size: 3vh;
}


.App-intro {
  font-size: large;
}

.Render-View {
  background-color: #d3f5ff;
  width: 99vw;
  height: 80vh;
}