.App {
  text-align: center;
}

.App-logo {
  height: 50%;
}

.App-header {
  background-color: #222;
  height: 24vh;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Render-View {
  background-color: #d3f5ff;
  width: 100vw;
  height: 75vh;
}